*{
    margin: auto;
    padding: auto;
}
header{
background-color: rgb(14, 14, 126);
height: 8.5vh;
width: 100vw;
margin: auto;
text-align: center;
color: white;
}

nav{
display: flex;
justify-items: center;
width: 100vw;
height: 5vh;
}

ul, ol {
list-style:none;
}

.nav > li {
float:left;
}

.nav li a {
background-color:#000;
color:#fff;
text-decoration:none;
padding:10px 12px;
display:block;
}

.nav li a:hover {
background-color:#434343;
}

.nav li ul {
display:none;
position:absolute;
min-width:140px;
}

.nav li:hover > ul {
display:block;
}

.nav li ul li {
position:relative;
}

.nav li ul li ul {
right:-140px;
top:0px;
}

.socialmedia{
    position: absolute;
    top: 5%;
    right: 2%;
    }