*{
    margin: auto;
    padding: auto;
}

body{
    background-color:  hsl(0, 0%, 83%);
}
/*Cabecera*/
header{
background-color: rgb(14, 14, 126);
height: 8%;
width: 100%;
margin: auto;
text-align: center;
color: white;
} 

.contacto{
  text-align: center;
  background-color: greenyellow;
  margin-top: 2%;
  border-radius: 50px;
  width: 70%;
}

/*Inicio del NAV*/
.navbar {
    overflow: hidden;
    background-color: blueviolet; 
  }
  
  .navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .subnav {
    float: left;
    overflow: hidden;
  }
  
  .subnav .subnavbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  
  .navbar a:hover, .subnav:hover .subnavbtn {
    background-color: hsl(184, 100%, 50%);
  }
  
  .subnav-content {
    display: none;
    position: absolute;
    left: 0;
    background-color: #00a2ff;
    width: 100%;
    z-index: 1;
  }
  
  .subnav-content a {
    float: left;
    color: white;
    text-decoration: none;
  }
  
  .subnav-content a:hover {
    background-color: #eee;
    color: black;
  }
  
  .subnav:hover .subnav-content {
    display: block;
  }
  
  .nav li ul a:hover {
    background-color:#00a2ff;
  } 
  
  #content{
  float: left;
  width: 80%;
  background-color: rgb(255, 255, 255);
  min-height: 400px;
  }
/*Fin del NAV*/

/*Estilos del Formulario*/
input, label, select{
  display: flex;
  justify-content: space-around;
}
fieldset{
  margin-top: 1.5%;
  margin-bottom: 2.7%;
  width: 20%; 
  height: 40em;
  border-radius: 50px;
  border: 1px solid rgb(0, 17, 255);
}

/*Iconos de redes sociales*/
.socialmedia{
    position: absolute;
    top: 0;
    right: 2%;
    }
/*Pie de Pagina*/
footer{
  width: 99%;
  padding: 0.5%;
  color: rgb(255, 255, 255);
  background-color: black;
  font-weight: 700;
  bottom: 0;
  justify-content: center;
  align-items: center;
  text-align: center;
}
/*Pantallas responsivas*/
@media (min-widht: 1024px){

}
@media screen and (max-width: 768px){

}

@media screen and (max-width: 480px){
  *{
    margin: auto;
    padding: auto;
  }

  body{
    width: 100%;}

  header{
    width: 100%;
    text-align: start;}

  nav{
    width: 100%;
  }
/*Estilos del Formulario*/
fieldset{
  margin-top: 2%;
  margin-bottom: 2%;
  width: 35%; 
  height: 30em;
  border-radius: 50px;
  border: 1px solid rgb(0, 17, 255);
}

.contacto{
  text-align: center;
  background-color: greenyellow;
  font-size: 1em;
  margin-top: 4%;
  border-radius: 50px;
  width: 90%;
}
}