*{
    margin: auto;
    padding: auto;
}

/* Estilos del Body*/
body{
    background-color: hsl(0, 0%, 83%);
    font-family: Arial, Helvetica, sans-serif;
}

/*Estilos de la cabecera*/
header{
    background-color: rgb(14, 14, 126);
    height: 8.6%;
    width: 100%;
    margin: auto;
    text-align: center;
    color: white;
}

/*Estilos del menú de Navegación*/
.navbar {
  overflow: hidden;
  background-color: blueviolet; 
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.subnav {
  float: left;
  overflow: hidden;
}

.subnav .subnavbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .subnav:hover .subnavbtn {
  background-color: hsl(184, 100%, 50%);
}

.subnav-content {
  display: none;
  position: absolute;
  left: 0;
  background-color: #00a2ff;
  width: 100%;
  z-index: 1;
}

.subnav-content a {
  float: left;
  color: white;
  text-decoration: none;
}

.subnav-content a:hover {
  background-color: #eee;
  color: black;
}

.subnav:hover .subnav-content {
  display: block;
}

.nav li ul a:hover {
  background-color:#00a2ff;
} 

#content{
float: left;
width: 80%;
background-color: rgb(255, 255, 255);
min-height: 400px;
}
/*Fin del Menú*/

/*Estilos de las imágenes en movimiento*/
.autoslide{
display: flex;
height: 200px;
width: auto;
text-align: start;
}

/*Iconos de redes sociales*/
.socialmedia{
position: absolute;
top: 5%;
right: 5%;
}

/*Estilos del Buscador*/
.search-bar {
    margin:0;
    padding:0;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    top:80%;
    left:50%;
    position: absolute;
    transform: translate(-50%,-50%);
    border: 5px black solid;
    transition-duration: 0.2s;
  }
  
  .textbox {
    width: 0px;
    padding: 0;
    margin: 0;
    border: none;
    line-height: 40px;
    font-size: 25px;
    height:45px;
    background-color: transparent;
    outline: none;
    height: 100%;
    float: left;
  
    transition-duration: 0.05s;
  }
  
  .search-btn {
    background-color: transparent;
    padding: 0px 0px 0px 0px;
    margin: 0;
    height: 45px;
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    float: right;
    text-decoration: none;
    /* border-left: 5px black solid; */
    height: 100%;
    transition-duration: 0.2s;
  }
  
  .search-btn p {
    margin: 10px;
    color: black;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: 800;
  }
  
  .search-bar:hover > .textbox {
    padding: 0px 10px 0px 10px;
    width: 100%;
    transition-duration: 0.2s;
  }
  
  .search-bar:hover > .search-btn {
    border-left: 5px black solid;
    transition-duration: 0.2s;
  }
  
  .search-btn:hover {
    background-color: black;
    transition-duration: 0.2s;
  }
  .search-btn:hover > p {
    color: white;
    transition-duration: 0.2s;
  }
/*Fin del estilo del buscador*/

/*Inicio del Pie de Página*/
footer{
  background-color: black;
  color: white;
  display: flex;
  justify-content:start;
  bottom: 0;
  position: absolute;
  width: 100%;
  height: 6%;
  }
  /*Fin del Pie de Página*/ 