*{
    margin: auto;
    padding: auto;
}

body{
    background-color: hsl(0, 0%, 83%);
    font-family: Arial, Helvetica, sans-serif;
}

header{
    background-color: rgb(14, 14, 126);
    height: 8.3vh;
    width: 100vw;
    margin: auto;
    text-align: center;
    color: white;
}

nav{
    display: flex;
    justify-items: center;
    width: 100vw;
    height: 5vh;
}

ul, ol {
list-style:none;
}

.nav > li {
float:left;
}

.nav li a {
background-color:#000;
color:#fff;
text-decoration:none;
padding:10px 12px;
display:block;
}

.nav li a:hover {
background-color:hsl(184, 100%, 50%);
}

.nav li ul {
display:none;
position:absolute;
min-width:140px;
}

.nav li:hover > ul {
display:block;
}

.nav li ul li {
position:relative;
}

.nav li ul li ul {
right:-140px;
top:0px;
}

#content{
float: left;
width: 80%;
background-color: rgb(255, 255, 255);
min-height: 400px;
}

footer{
background-color: black;
color: white;
display: flex;
justify-content: space-around;
bottom: 0;
position: absolute;
width: 100vw;
height: 5vh;
}

.autoslide{
display: flex;
height: 200px;
width: auto;
text-align: start;
}

.socialmedia{
position: absolute;
top: 5%;
right: 2%;
}

.nav li ul a:hover {
    background-color:#00a2ff;
} 

.search-bar {
    margin:0;
    padding:0;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    top:50%;
    left:50%;
    position: absolute;
    transform: translate(-50%,-50%);
    border: 5px black solid;
    transition-duration: 0.2s;
  }
  
  .textbox {
    width: 0px;
    padding: 0;
    margin: 0;
    border: none;
    line-height: 40px;
    font-size: 25px;
    height:45px;
    background-color: transparent;
    outline: none;
    height: 100%;
    float: left;
  
    transition-duration: 0.05s;
  }
  
  .search-btn {
    background-color: transparent;
    padding: 0px 0px 0px 0px;
    margin: 0;
    height: 45px;
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    float: right;
    text-decoration: none;
    /* border-left: 5px black solid; */
    height: 100%;
    transition-duration: 0.2s;
  }
  
  .search-btn p {
    margin: 10px;
    color: black;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: 800;
  }
  
  .search-bar:hover > .textbox {
    padding: 0px 10px 0px 10px;
    width: 100%;
    transition-duration: 0.2s;
  }
  
  .search-bar:hover > .search-btn {
    border-left: 5px black solid;
    transition-duration: 0.2s;
  }
  
  .search-btn:hover {
    background-color: black;
    transition-duration: 0.2s;
  }
  .search-btn:hover > p {
    color: white;
    transition-duration: 0.2s;
  }