*{
    margin: auto;
    padding: auto;
}

header{
    background-color: rgb(14, 14, 126);
    height: 8.3%;
    width: 100%;
    margin: auto;
    text-align: center;
    color: white;
}

body{
  background-color: hsl(0, 0%, 83%);
}

/*Inicio del nav desplegable*/
.navbar {
  overflow: hidden;
  background-color: blueviolet; 
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.subnav {
  float: left;
  overflow: hidden;
}

.subnav .subnavbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .subnav:hover .subnavbtn {
  background-color: hsl(184, 100%, 50%);
}

.subnav-content {
  display: none;
  position: absolute;
  left: 0;
  background-color: #00a2ff;
  width: 100%;
  z-index: 1;
}

.subnav-content a {
  float: left;
  color: white;
  text-decoration: none;
}

.subnav-content a:hover {
  background-color: #eee;
  color: black;
}

.subnav:hover .subnav-content {
  display: block;
}

.nav li ul a:hover {
  background-color:#00a2ff;
} 

#content{
float: left;
width: 80%;
background-color: rgb(255, 255, 255);
min-height: 400px;
}
/*Fin del estilo del nav con desplegable*/

/*Estilos de las redes sociales del nav (Iconos)*/
.socialmedia{
  position: absolute;
  top: 0;
  right: 2%;
  }

/*Estilos de las cards para productos*/

/*Card 1*/
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
    margin-top: -2%;
    margin-left: 0;
  }
  
  .price {
    color: blueviolet;
    font-size: 22px;
  }
  
  .card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  
  .card button:hover {
    opacity: 0.7;
    background-color: blueviolet;
  }
/*Fin de la Card 1*/

/*Card 2*/
.card2 {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
  margin-top: -40.6%;
  margin-left: 26%;
}

.price2 {
  color: blueviolet;
  font-size: 22px;
}

.card2 button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.card2 button:hover {
  opacity: 0.7;
  background-color: blueviolet;
}
/*Fin de la Card 2*/

/*Card 3*/
.card3 {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
  margin-top: -40.6%;
  margin-left: 52.09%;
}

.price3 {
  color: blueviolet;
  font-size: 22px;
}

.card3 button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.card3 button:hover {
  opacity: 0.7;
  background-color: blueviolet;
}
/*Fin de la Card 3*/

/*Card 4*/
.card4 {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
  margin-top: -40.6%;
  margin-left: 78.09%;
}

.price4 {
  color: blueviolet;
  font-size: 22px;
}

.card4 button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.card4 button:hover {
  opacity: 0.7;
  background-color: blueviolet;
  color: greenyellow;
}
/*Fin de la Card 4*/
  
/*footer*/
footer{
    width: 99%;
    padding: 0.5%;
    color: rgb(255, 255, 255);
    background-color: black;
    font-weight: 700;
    bottom: 0;
    justify-content: center;
    align-items: center;
    text-align: center;
}


/*Estilos de los bordes de páginas*/
main{
  padding: 4%;
  margin: 1%; 
  width: 88%;
  height: 38.2em;
  border: 5px solid rgb(0, 17, 255);
  border-radius: 50px;
}
.botonmenu{
  display: none;
}
/*Pantallas responsivas*/
@media (min-widht: 1024px){

}
@media (min-widht: 768px){

}

@media screen and (max-width: 480px){ 
  *{
    margin: auto;
    padding: auto;
  }

  body{
    width: 100%;}

  header{
    width: 100%;
    text-align: start;}

  nav{
    width: 100%;
  }
  main{
  padding: 4%;
  margin: 1%; 
  width: 88%;
  height: 120em;
  border: 5px solid rgb(0, 17, 255);
  border-radius: 50px;
  }

  .card{
    margin-top: 0%;
    margin-left:5%;
  }
  .card2{
    margin-top:0;
    margin-left:5%;
  }
  .card3{
    margin-top: 0; 
    margin-left:5%;
  }
  .card4{
    margin-top: 0%; 
    margin-left:5%;
  }
  .botonmenu{
    display: block;
    margin-left: 65%;
    margin-top: -10%;
    color: greenyellow;
  }
  .nonavm{
    display: none;
  }
} 