*{
    margin: auto;
    padding: -2em;
}

body{
    background-color:  hsl(0, 0%, 83%);
}
/*Cabecera*/
header{
background-color: rgb(14, 14, 126);
height: 8%;
width: 100%;
margin: auto;
text-align: center;
color: white;
}
/*Inicio del NAV*/
.navbar {
    overflow: hidden;
    background-color: blueviolet; 
  }
  .navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  .subnav {
    float: left;
    overflow: hidden;
  }
  .subnav .subnavbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  .navbar a:hover, .subnav:hover .subnavbtn {
    background-color: hsl(184, 100%, 50%);
  }
  .subnav-content {
    display: none;
    position: absolute;
    left: 0;
    background-color: #00a2ff;
    width: 100%;
    z-index: 1;
  }
  .subnav-content a {
    float: left;
    color: white;
    text-decoration: none;
  }
  .subnav-content a:hover {
    background-color: #eee;
    color: black;
  }
  .subnav:hover .subnav-content {
    display: block;
  }
  .nav li ul a:hover {
    background-color:#00a2ff;
  } 
  #content{
  float: left;
  width: 80%;
  background-color: rgb(255, 255, 255);
  min-height: 400px;
  }
/*Fin del NAV*/

span{
font-family:Arial, Helvetica, sans-serif;
position: absolute;
top:27%;
font-size: 22px;
margin-left: 15px;
}

p{
  display: flex;
  font-family:Arial, Helvetica, sans-serif;
  font-size: 22px;
  margin-left: 15px;
}

footer{
  width: 99%;
  padding: 0.5%;
  color: rgb(255, 255, 255);
  background-color: black;
  font-weight: 700;
  bottom: 0;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.socialmedia{
  position: absolute;
  top: 0;
  right: 2%;
  }

/*Pantallas responsivas*/
@media (min-widht: 1024px){

}
@media (min-widht: 768px){

}

@media (max-widht: 480px){
  body{
    width: 100%;
  }
  header{
    width: 100%;
    justify-content: flex-start;
    text-align: start;
  }
  nav{
    width: 2em;
  } 
    iframe{
    margin-top: 50em;
  }

} 