*{
    margin: auto;
    padding: auto;
}

header{
    background-color: rgb(14, 14, 126);
    height: 8.3%;
    width: 100%;
    margin: auto;
    text-align: center;
    color: white;
}

body{
  background-color: hsl(0, 0%, 83%);
}

/*Inicio del nav desplegable*/
.navbar {
  overflow: hidden;
  background-color: blueviolet; 
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.subnav {
  float: left;
  overflow: hidden;
}

.subnav .subnavbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .subnav:hover .subnavbtn {
  background-color: hsl(184, 100%, 50%);
}

.subnav-content {
  display: none;
  position: absolute;
  left: 0;
  background-color: #00a2ff;
  width: 100%;
  z-index: 1;
}

.subnav-content a {
  float: left;
  color: white;
  text-decoration: none;
}

.subnav-content a:hover {
  background-color: #eee;
  color: black;
}

.subnav:hover .subnav-content {
  display: block;
}

.nav li ul a:hover {
  background-color:#00a2ff;
} 

#content{
float: left;
width: 80%;
background-color: rgb(255, 255, 255);
min-height: 400px;
}
/*Fin del estilo del nav con desplegable*/

/*Estilos de las redes sociales del nav (Iconos)*/
.socialmedia{
  position: absolute;
  top: 0;
  right: 2%;
  }

/*Estilos de las cards para productos*/
/*Card*/
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
}

.price {
  color: blueviolet;
  font-size: 22px;
}

.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.card button:hover {
  opacity: 0.7;
}
/*Fin Card*/

/*Card 2*/
.card2 {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
}

.price2 {
  color: blueviolet;
  font-size: 22px;
}

.card2 button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.card2 button:hover {
  opacity: 0.7;
}
/*Fin Card2*/

/*Card 3*/
.card3 {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
}

.price3 {
  color: blueviolet;
  font-size: 22px;
}

.card3 button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.card3 button:hover {
  opacity: 0.7;
}
/*Fin Card3*/

/*Card 4*/
.card4 {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
}

.price4 {
  color: blueviolet;
  font-size: 22px;
}

.card4 button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.card4 button:hover {
  opacity: 0.7;
}
/*Fin Card 4*/
  
/*footer*/
footer{
  width: 99%;
  padding: 0.5%;
  color: rgb(255, 255, 255);
  background-color: black;
  font-weight: 700;
  bottom: 0;
  justify-content: center;
  align-items: center;
  text-align: center;
}

main{
  padding: 4%;
  margin: 1%; 
  width: 89%;
  height: 115em;
  border: 5px solid rgb(0, 17, 255);
  border-radius: 50px;
}

/*Pantallas responsivas*/
@media (min-widht: 1024px){

}
@media (min-widht: 768px){

}

@media (max-widht: 480px){
  
  body{
    width: 100%;
  }

  header{
    width: 100%;
    justify-content: flex-start;
    text-align: start;
  }
  
  nav{
    width: 2em;
  }

  main{
  padding: 4%;
  margin: 1%; 
  width: 89%;
  height: 110em;
  border: 5px solid rgb(0, 17, 255);
  border-radius: 50px;
  }

  .card{
    margin-top: 0%;
    margin-left:21%;
  }
  .card2{
    margin-top: 100%;
    margin-left:-56%;
  }
  .card3{
    margin-top: 205%; 
    margin-left:-65%;
  }
  .card4{
    margin-top: 300%; 
    margin-left:-56%;
  }
} 