*{
    margin: auto;
    padding: auto;
}
header{
background-color: rgb(14, 14, 126);
height: 8.3vh;
width: 100vw;
margin: auto;
text-align: center;
color: white;
}

/*Inicio NAV*/

nav{
display: flex;
justify-items: center;
width: 100vw;
height: 5vh;
}

ul, ol {
list-style:none;
}

.nav > li {
float:left;
}

.nav li a {
background-color:#000;
color:#fff;
text-decoration:none;
padding:10px 12px;
display:block;
}

.nav li a:hover {
background-color: hsl(184, 100%, 50%);
}

.nav li ul {
display:none;
position:absolute;
min-width:140px;
}

.nav li:hover > ul {
display:block;
}

.nav li ul li {
position:relative;
}

.nav li ul li ul {
right:-140px;
top:0px;
}

.nav li ul a:hover {
    background-color:#00a2ff;
}

/*Fin NAV*/

footer{
    position: absolute;
    bottom: 0;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 5vh;
}

.socialmedia{
    position: absolute;
    top: 5%;
    right: 2%;
}

/*Estilos de las cards*/

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
  }
  
  .price {
    color: grey;
    font-size: 22px;
  }
  
  .card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  
  .card button:hover {
    opacity: 0.7;
  }

/*Estilos de las cards2*/

.card2 {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: 500px;
  text-align: center;
  font-family: arial;
}

.price {
  color: grey;
  font-size: 22px;
}

.card2 button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.card2 button:hover {
  opacity: 0.7;
}

